{% extends 'base.html' %} {% block title %}Balance{% endblock %} {% block body %}
<div>
    <main class="main">
            <form method="post">
            <div class="row" style="width: 80%; margin: 20px auto;">
                <label for="period">Select period</label>
                <select class="form-control" name="period" id="period">
                    <option value="current_month">Current month</option>
                    <option value="previous_month">Previous month</option>
                    <option value="current_year">Current year</option>
                </select>
                <script>
                    const periodSelect = document.querySelector('#period');

                    periodSelect.addEventListener('change', (event) => {
                        const value = event.target.value;
                        const startDateInput = document.querySelector('#start-date');
                        const endDateInput = document.querySelector('#end-date');

                        if (value === 'current_month') {
                            const firstDayOfCurrentMonth = new Date();
                            const now = new Date();

                            firstDayOfCurrentMonth.setDate(1);

                            startDateInput.value = firstDayOfCurrentMonth.toISOString().slice(0, 10);
                            endDateInput.value = now.toISOString().slice(0, 10);

                        } else if (value === 'previous_month') {
                            const firstDayOfPreviousMonth = new Date();
                            const lastDayOfPreviousMonth = new Date();

                            firstDayOfPreviousMonth.setDate(1);
                            firstDayOfPreviousMonth.setMonth(firstDayOfPreviousMonth.getMonth() - 1);

                            lastDayOfPreviousMonth.setDate(1);
                            lastDayOfPreviousMonth.setDate(lastDayOfPreviousMonth.getDate() - 1);

                            startDateInput.value = firstDayOfPreviousMonth.toISOString().slice(0, 10);
                            endDateInput.value = lastDayOfPreviousMonth.toISOString().slice(0, 10);
                        } else if (value === 'current_year') {
                            const firstDayOfJanuary = new Date();
                            const now = new Date();

                            firstDayOfJanuary.setDate(1);
                            firstDayOfJanuary.setMonth(0);

                            startDateInput.value = firstDayOfJanuary.toISOString().slice(0, 10);
                            endDateInput.value = now.toISOString().slice(0, 10);
                        }
                    });
                </script>
            </div>

            <div class="row d-flex justify-content-between" style="width: 80%; margin: 20px auto;">
                <div class="col col-sm-6 col-md-4">
                    <label for="start-date">Start date</label>
                    <input type="date" class="form-control myDate" id="start-date" name="start_date" value="{{start_date}}" />
                </div>

                <div class="col col-sm-6 col-md-4">
                    <label for="end-date">End date</label>
                    <input type="date" class="form-control myDate" id="end-date" name="end_date" value="{{end_date}}" />
                </div>

                <div class="col col-md-4 d-flex align-items-end justify-content-end px-2">
                    <button type="submit" class="btn btn-warning w-100">Display balance</button>
                </div>
            </div>
        </form>

        <table class="table">
            <tr>
                <td colspan="4">Revenues</td>
            </tr>
            {% for row in revenues %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.comment }}</td>
                <td>{{ row.amount }} PLN</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td colspan="3">{{total_revenues}} PLN</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <td colspan="4">Expenses</td>
            </tr>
            {% for row in expenses %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.comment }}</td>
                <td>{{ row.amount }} PLN</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td colspan="3">{{total_expenses}} PLN</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <td colspan="2">Balance</td>
            </tr>
            <tr>
                <td>Revenues</td>
                <td>{{total_revenues}} PLN</td>
            </tr>
            <tr>
                <td>Expenses</td>
                <td>{{total_expenses}} PLN</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{total}} PLN</td>
            </tr>
        </table>
</div>
</div>
{% endblock %}