{% extends 'base.html' %} {% block title %}Edit{% endblock %} {% block body %}
<div>
    <main class="main">
        <form method="post">
            <section>
                <table class="table">
                    <tr>
                        <td colspan="2">Revenue categories</td>
                    </tr>
                    {% for row in revenue_categories %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>
                            <button class="btn btn-danger" type="submit" name="revenue_category_ids" value="{{row.id}}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr></tr>
                </table>
                
                <div class="input-group mb-3" style="width: 80%; margin: 0 auto;">
                    <input class="form-control" type="text" name="new_revenue_category">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Add revenue category</button>
                    </div>
                </div>
                <hr>
            </section>

            <section>
                <table class="table expense-categories">
                    <tr>
                        <td colspan="2">Expense categories</td>
                    </tr>
                    {% for row in expense_categories %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>
                            <button class="btn btn-primary btn-edit"
                                    type="button"
                                    data-user-id="{{row.user_id}}"
                                    data-name="{{row.name}}"
                                    data-expense-category-id="{{row.expense_category_id}}"
                                    data-has-limit="{{row.has_limit}}"
                                    data-expense-limit="{{row.expense_limit}}">
                                Edit
                            </button>
                            <button class="btn btn-danger" type="submit" name="expense_category_ids" value="{{row.expense_category_id}}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr></tr>
                </table>

                <div class="input-group mb-3" style="width: 80%; margin: 0 auto;">
                    <input class="form-control" type="text" name="new_expense_category">
                </div>
                <div class="input-group mb-3" style="width: 80%; margin: 0 auto;">
                    <input type="checkbox" name="has_limit">
                    <input type="text" value="0.00" name="expense_limit">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Save</button>
                    </div>
                </div>

                <hr>
                
            </section>

            <section>
                <table class="table">
                    <tr>
                        <td colspan="2">Payment methods</td>
                    </tr>
                    {% for row in payment_methods %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>
                            <button class="btn btn-danger" type="submit" name="payment_method_ids" value="{{row.id}}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr></tr>
                </table>

                <div class="input-group mb-3" style="width: 80%; margin: 0 auto;">
                    <input class="form-control" type="text" name="new_payment_method">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Add payment method</button>
                    </div>
                </div>
                
            </section>

            <script>
                document.querySelector('.table.expense-categories').addEventListener('click', event => {
                    if (event.target.className.includes('btn-edit')) {
                        const { userId, name, expenseCategoryId, hasLimit, expenseLimit } = event.target.dataset;

                        if (hasLimit === '0') {
                            document.querySelector('#edit-has-limit').removeAttribute('checked');
                        }

                        if (hasLimit === '1') {
                            document.querySelector('#edit-has-limit').setAttribute('checked', '');
                        }

                        document.querySelector('#edit-name').value =  name;
                        document.querySelector('#edit-expense-limit').value =  expenseLimit;
                        document.querySelector('#modal').style.display = 'initial';

                        document.querySelector('#save-button').addEventListener('click', () => {
                            const name = document.querySelector('#edit-name').value;
                            const hasLimit = document.querySelector('#edit-has-limit').checked ? '1' : '0';
                            const expenseLimit = document.querySelector('#edit-expense-limit').value;

                            fetch(`//budget.anetaradecka.pl/Edit/expense?user_id=${userId}&name=${name}&has_limit=${hasLimit}&expense_limit=${expenseLimit}&expense_category_id=${expenseCategoryId}`).finally(() => location.reload());
                        });
                    }
                });
            </script>
        </form>

        <div class="modal" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit expense</h5>
                        <button type="button" class="btn close" id="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <input class="form-control" id="edit-name" type="text" name="name" placeholder="Name">
                        </div>
                        <div class="input-group">
                            <p>
                                <input id="edit-has-limit" type="checkbox" name="has_limit">
                                Has limit?
                            </p>
                        <div class="input-group">
                        </div>
                            <input class="form-control" id="edit-expense-limit" type="text" name="expense_limit" placeholder="Expense limit">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save-button">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.querySelector('#close').addEventListener('click', () => {
                document.querySelector('#modal').style.display = 'none';
            });
        </script>
    </main>
</div>
{% endblock %}