{% extends 'base.html' %} {% block title %}Save{% endblock %} {% block body %}
<div>
    <main class="main">
        <table class="table">
            <tr>
                <td colspan="5">Revenue categories</td>
            </tr>
            {% for row in revenue_categories %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.comment }}</td>
                <td>{{ row.amount }} PLN</td>
                <td>
                    <button type="button">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table class="table">
            <tr>
                <td colspan="5">Expense categories</td>
            </tr>
            {% for row in expense_categories %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.comment }}</td>
                <td>{{ row.amount }} PLN</td>
                <td>
                    <button type="button">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table class="table">
            <tr>
                <td colspan="5">Payment methods</td>
            </tr>
            {% for row in payment_methods %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.comment }}</td>
                <td>{{ row.amount }} PLN</td>
                <td>
                    <button type="button">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</div>
{% endblock %}